:root {
	--bg: #ece3f0;
	--bg2: #bbe7fe;
	--bg-panel: #ece3f0;
	--color-headings: #3a3e47;
	--color-text-opacity: rgba(22, 28, 45, 0.7);
	--color-text: #3a3e47;
	--color-text-base: #3a3e47;
	--border: #383f53;
}

[data-theme="dark"] {
	--bg: #5e376d;
	--bg2: #2E8BC0;
	--bg-panel: #f1f1f1; /* two background colors because one will stay the same the other will change with the dark theme*/
	--color-headings: #fff;
	--color-text-opacity: rgba(255, 255, 255, 0.7);
	--color-text: #fff;
	--color-text-base: #3a3e47;
	--border: #ced4da;
}